:root {
  --primary-color: #ffefc8;
  --secondary-color: #b8d576;
  --accent-color: #d70654;
  --accent-color-darker: #b13232;
  --background-color: #ffd95f;
  font-size: 16px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  padding: 10px;
}

.user-title {
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.message-board {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  min-height: 2rem;
}

.form-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  gap: 40px;
}

.player-input {
  display: flex;
  gap: 40px;
  font-size: 1.5rem;
  align-items: center;
}

.player-one-input,
.player-two-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.material-symbols-outlined {
  font-size: 4rem;
}

.input-name-player {
  padding: 10px;
  width: 200px;
  background-color: var(--primary-color);
  border: 2px solid var(--background-color);
  border-bottom: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 600;
}

.input-name-player::placeholder {
  color: var(--accent-color);
}

.input-name-player:focus {
  outline: none;
  border: none;
  border: 2px solid var(--accent-color);
}

button {
  height: 40px;
  width: 120px;
  background-color: var(--accent-color);
  border: none;
  color: var(--primary-color);
  font-weight: bold;
}

button:active {
  background-color: var(--accent-color-darker);
}

.game-board {
  display: none;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.game-square-container {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  gap: 10px;
}

.game-square {
  background-color: var(--primary-color);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game-square:before {
  content: attr(data-symbol);
  font-family: "Material Symbols Outlined";
  font-size: 100px;
}

[data-symbol="X"]:before {
  content: "close";
}

[data-symbol="O"]:before {
  content: "circle";
}
